body {
  background-color: #f4f2ee;
}

.btn-outline-secondary {
  transition: background-color 0.3s ease-in-out;
}
.btn-outline-secondary:hover {
  background-color: #ebebeb;
  color: white;
  color: grey;
}

.btn-outline-primary:hover {
  background-color: #e2f0fe;
  color: #0a66c2;
}

.undecorated {
  text-decoration: none;
  color: gray;
}

.undecorated:hover {
  text-decoration: underline;
  color: unset;
}

.modal-dialog {
  max-width: 600px;
}

.sub-navbar {
  position: sticky;
  top: 68px;
  background-color: rgba(247, 247, 247, 1);
  transition: transform 0.5s ease-in-out;
  border-top: 1px solid gray;
}

.bannerTop {
  top: 76px;
}

.card-transition {
  transition: opacity 0.8s ease-out, transform 1.2s ease-out, max-height 1.5s ease-out;
  opacity: 0;
  overflow: hidden;
  transform: translateX(0);
  max-height: 0;
  display: inline-block;
}

.card-visible {
  transition: opacity 0.8s ease-in, transform 1.8s ease-in, max-height 1.5s ease-in;
  opacity: 1;
  overflow: hidden;
  transform: translateX(0);
  max-height: 500px;
  display: inline-block;
}

.banner-container {
  height: 310px;
}

.pencil {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: rgb(69, 69, 69);
  cursor: pointer;
}
.pencil:hover {
  background-color: rgba(193, 193, 193, 0.712);
}

.btn.nav-link.my-link {
  border-radius: 0;
}

.nav-link.my-link:hover {
  background-color: #ebebeb;
}

/* DROPDWON LINGUE FOOTER */
.tab-container {
  display: flex;
  gap: 15px;
}

.tab {
  cursor: pointer;
  padding: 10px;
  color: grey;
  border-bottom: 3px solid transparent;
  transition: background-color 0.3s ease-in-out;
}

.tab:hover {
  background-color: rgba(128, 128, 128, 0.13);
}

.tab.active {
  color: green;
  border-bottom-color: green;
}

.langDrop {
  max-height: 300px;
  overflow-y: auto;
  width: 305px;
  font-size: 12px;
}

.dropHover:hover {
  background-color: #0d6efd;
  color: white;
}

.btn.show {
  border: none;
  border-color: transparent;
  background-color: transparent;
}

#dropdown-basic.btn {
  background-color: transparent;
  border-color: transparent;
}

.border.dropdown:hover {
  border: 3px solid black;
}

.border.dropdown:active {
  border: 3px solid black;
}

#mini-footer small {
  font-size: 12px;
}

.col-1of16 {
  width: 6.25%;
}

.col-2of16 {
  width: 12.5%;
}

.col-3of16 {
  width: 18.75%;
}

.col-4of16 {
  width: 25%;
}

.col-5of16 {
  width: 31.25%;
}

.col-6of16 {
  width: 37.5%;
}

.col-7of16 {
  width: 43.75%;
}
.col-8of16 {
  width: 50%;
}

.col-9of16 {
  width: 56.25%;
}

.col-10of16 {
  width: 62.5%;
}

.col-11of16 {
  width: 68.75%;
}

.col-12of16 {
  width: 75%;
}

.col-13of16 {
  width: 81.25%;
}

.col-14of16 {
  width: 87.5%;
}

.col-15of16 {
  width: 93.75%;
}

.col-16of16 {
  width: 100%;
}
